### Домашнее задание «Функции и работа с данными»


### Оглавление
  
1. [Задание 1](#task1)   
2. [Задание 2](#task2)  
3. [Задание 3](#task3)

###### 1. Задание 1 <a id='task1'></a>

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class`

In [1]:
import pandas as pd

In [2]:
dt_ = pd.read_csv('ml-latest-small/ratings.csv')
dt_.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def rating_classifier(row):
    """классифицирует рейтинг фильмa по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг"""
    if float(row) <=2.0:
        return 'низкий рейтинг'
    else:
        if float(row) <=4.0:
            return 'средний рейтинг'
    return 'высокий рейтинг'

In [4]:
dt_['class'] = dt_['rating'].apply(rating_classifier)
dt_.head(10)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг
5       1     1263     2.0  1260759151   низкий рейтинг
6       1     1287     2.0  1260759187   низкий рейтинг
7       1     1293     2.0  1260759148   низкий рейтинг
8       1     1339     3.5  1260759125  средний рейтинг
9       1     1343     2.0  1260759131   низкий рейтинг

###### 2. Задание 2 <a id='task2'></a>

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {


'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [5]:
dt_g = pd.read_csv('ml-latest-small/keywords.csv')
dt_g.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [6]:
def region_classifier(row):
    """Гео-классификатор, каждой строке может выставить географическую принадлежность определенному региону. 
    Если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
    Если поисковый запрос не содержит названия города, то ставит ‘undefined’ """
    if 'москва' in row or 'тула' in row or 'ярославль' in row:
        return 'Центр'
    elif 'петербург' in row or 'псков' in row or 'мурманск' in row:
        return 'Северо-Запад'
    elif 'владивосток' in row or 'сахалин' in row or 'хабаровск' in row:
        return 'Дальний Восток'
    return 'undefined'

In [7]:
dt_g['region'] = dt_g['keyword'].apply(region_classifier)
#dt_g.head(10)
dt_g['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

###### 3. Задание 3 <a id='task3'></a>

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. 
Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years


если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска


если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год


Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [8]:
dt_m = pd.read_csv('ml-latest-small/movies.csv')
dt_m.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
# В переменную years запишите список из всех годов с 1950 по 2010.
years =  [str(x) for x in range(1950,2011)]
#years

In [10]:
def production_year(row, years):
    """ каждой строке из названия фильма выставляет год выпуска 
    если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
    год выпуска фильма запишется  в новый столбец ‘year’"""
    for year_ in years:
        if year_ in row['title']:
            return year_
    return '1900'

In [11]:
# Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
dt_m['year'] = dt_m.apply(production_year, years = years , axis=1)
dt_m.tail()
#dt_m['year'].value_counts()

,movieId,title,genres,year
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

In [16]:
# Создаём датафрейм mean_  с столбцами 'movieId' и 'mean' (среднее значение рейтинга для фильма) из датафрейма dt_ (см. Задание 1)
mean_ = dt_.groupby('movieId').agg(['mean'])['rating'].reset_index()
mean_.head()

   movieId      mean
0        1  3.872470
1        2  3.401869
2        3  3.161017
3        4  2.384615
4        5  3.267857

### Далее :

### Первый вариант (более короткий , с использованием .merge)

In [17]:
me_ = mean_.merge(dt_m, how='left')

In [20]:
# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
resalt_ = me_.groupby(['year']).agg(['mean'])['mean'].reset_index().sort_values('mean', ascending=False)

In [21]:
print('Cредний рейтинг всех фильмов для каждого значения года')
resalt_

Cредний рейтинг всех фильмов для каждого значения года

    year      mean
2   1951  3.906653
3   1952  3.802318
13  1962  3.772962
4   1953  3.738878
8   1957  3.693322
..   ...       ...
53  2002  3.191918
48  1997  3.183169
41  1990  3.166759
54  2003  3.154081
52  2001  3.133080

[62 rows x 2 columns]

### Второй  вариант (с использованием словаря для объединения данных датафреймов)

In [28]:
# Добавляет 1900 год в список из всех годов
years.insert(0, '1900')

In [29]:
def year_Id(row, dict_):
    """ Создает словарь из movieId и year """
    dict_[row['movieId']] = row['year']

In [30]:
year_movieId = {}

In [31]:
# Создает словарь  year_movieId   из 'movieId' и 'year' датафрейма dt_m
dt_m.apply(year_Id, dict_ = year_movieId, axis = 1)

0       None
1       None
2       None
3       None
4       None
        ...
9120    None
9121    None
9122    None
9123    None
9124    None
Length: 9125, dtype: object

In [32]:
# Создаём датафрейм mean_  с столбцами 'movieId' и 'mean' (среднее значение рейтинга для фильма) из датафрейма dt_ (см. Задание 1)
mean_ = dt_.groupby('movieId').agg(['mean'])['rating'].reset_index()
mean_.head()

   movieId      mean
0        1  3.872470
1        2  3.401869
2        3  3.161017
3        4  2.384615
4        5  3.267857

In [33]:
def years_rat(row, dict_):
    """ Присоединяет столбец 'year' - с значениями года выпуска каждому из фильмов
    dict_ - словарь с парами movieId:year """
    row['year'] = dict_[row['movieId']]
    return row

In [34]:
# Присоединяет к датафрейму mean_ столбец 'year' - с значениями года выпуска каждому из фильмов с 'movieId'
mean_ = mean_.apply(years_rat, dict_ = year_movieId, axis = 1)
mean_.head()

   movieId      mean  year
0      1.0  3.872470  1995
1      2.0  3.401869  1995
2      3.0  3.161017  1995
3      4.0  2.384615  1995
4      5.0  3.267857  1995

In [35]:
# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
resalt_ = mean_.groupby(['year']).agg(['mean'])['mean'].reset_index().sort_values('mean', ascending=False)

In [36]:
print('Cредний рейтинг всех фильмов для каждого значения года')
resalt_

Cредний рейтинг всех фильмов для каждого значения года

    year      mean
2   1951  3.906653
3   1952  3.802318
13  1962  3.772962
4   1953  3.738878
8   1957  3.693322
..   ...       ...
53  2002  3.191918
48  1997  3.183169
41  1990  3.166759
54  2003  3.154081
52  2001  3.133080

[62 rows x 2 columns]