### Домашнее задание к лекции "Основы Python"

### Оглавление
  
1. [Задание 1](#task1)   
2. [Задание 2](#task2)  
3. [Задание 3](#task3)  
4. [Задание 4](#task4)  
5. [Задание 5](#task5) 
6. [Задание 6](#task6)

###### 1. Задание 1 <a id='task1'></a>

In [15]:
# Выводит на экран: среднюю букву, если число букв в слове нечетное; две средних буквы, если число букв четное.
word = [word for word in input('Введите слово: ')]
if len(word) % 2 > 0:
    print(word[int(len(word)/2)])
else:
    print(word[int(len(word)/2)-1], word[int(len(word)/2)])

Введите слово: as
a s

###### 2. Задание 2 <a id='task2'></a>

In [25]:
# последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.
sum_numb = 0
numb = 1
while numb != 0:
    numb = (int(input('Введите число: ')))
    sum_numb = sum_numb + numb
else:
    print('Результат: ', sum_numb)

Введите число: 0
Результат:  0

###### 3. Задание 3 <a id='task3'></a>

In [42]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) != len(girls):
    print('Внимание, кто-то может остаться без пары!')
else:
    boys = sorted(boys)
    girls = sorted(girls)
    for i in range(len(girls)):
        print(boys[i], ' и ', girls[i])

Alex  и  Emma
Arthur  и  Kate
John  и  Kira
Peter  и  Liza
Richard  и  Trisha

###### 4. Задание 4 <a id='task4'></a>

In [91]:
# рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for i in countries_temperature:
    print(i[0], '-', round((sum(i[1])/len(i[1])-32)/1.8, 1))

Thailand - 23.9
Germany - 13.8
Russia - 3.7
Poland - 12.0

###### 5. Задание 5 <a id='task5'></a>

In [100]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
# Расчет среднего количество просмотров на уникального пользователя.
ind_sum = 0
lst = []
for i in stream:
    ind_sum = ind_sum+int(i.split(',')[2])
    if i.split(',')[1] not in lst:
        lst.append(i.split(',')[1])
print('Среднее количество просмотров на уникального пользователя:',
      round(ind_sum/len(lst), 2))

Среднее количество просмотров на уникального пользователя: 23.25

In [99]:
stream = [
    '2018-01-01,user100,150',
    '2018-01-07,user99,205',
    '2018-03-29,user1001,81'
]
# Расчет среднего количество просмотров на уникального пользователя.
ind_sum = 0
lst = []
for i in stream:
    ind_sum = ind_sum+int(i.split(',')[2])
    if i.split(',')[1] not in lst:
        lst.append(i.split(',')[1])
print('Среднее количество просмотров на уникального пользователя:',
      round(ind_sum/len(lst), 2))

Среднее количество просмотров на уникального пользователя: 145.33

###### 6. Задание 6 <a id='task6'></a>

In [139]:
# У пользователя запрашивается набор чисел разделенных пробелом. В отсортированном порядке  выводятся числа, которые повторяются в вводе более одного раза.
rep=[]
seq_num=input('Введите числа:').split()
for i in seq_num:
    if seq_num.count(i)>1 and i not in rep:
        rep.append(i)
rep.sort()
print('Результат:')
for i in rep:
    print(i , end=(' '))

Введите числа:0 9 8 7 6 5 4 3 2 1 8 6 4 3
Результат:
3 4 6 8